    <div class ="wrapper">
            <div class ="note">
                    <h1>
                      Your Feedback is precious to , Let us know where we can improve. 
                    </h1>
            </div>

            <div class ="divisionline">

            </div>
   <div class ="form">
    <form  action = "/feedback" method="post">
      <div class = "name">
        <label class = "namelabel">Name</label>
        <input type = "text" name ="name" placeholder="Full Name">
      </div>

   <div class = "billno">

           <label clas="billnolabel">bill no.</label>
        <input type = "text" name = "billno" placeholder="Bill No.">
   </div>
       

<div class ="contactno">
        <label class ="contactnolabel">Contact no.</label>
        <input type ="number" name ="contactno" placeholder="Your Contact">

</div>

<div class ="feedback">
        <label class ="feedbacklabel">feedback</label>
        <textarea id = "feeds" type ="feedback" name = "feedback" placeholder="Your Feedback"></textarea>

</div>
         <div class ="submit">
         <button type ="submit">submit</button>

         </div>
    </form>
 </div>

 </div>