
 
 <div class ="wrapper">
     <div class = "companyname">
         <h1>Chirag Industries pvt. ltd. </h1>
         <p>company's address</p>
     </div>
 <div class="divisionline">

 </div>
 <div class ="companyintro">
     <h2>Welcome , we assure our great assistance and quality . We are happy to serve you.</h2>
     
 </div>
 </div>
