<div class ="wrapper">
  <div class = "card">
      <img src  ="../images/cables.jpeg">
      <div class = "cardBody">
          <h3>cables</h3>
          <p>this is the text</p>
      </div>
  </div>
   <div class = "card1">
      <img src  ="../images/mcb.jpeg">
      <div class = "cardBody">
          <h3>MCB</h3>
          <p>this is the text</p>
      </div>
  </div>
   <div class = "card2">
      <img src  ="../images/pvc.jpeg">
      <div class = "cardBody">
          <h3>PVC</h3>
          <p>this is the text</p>
      </div>
  </div>
   <div class = "card3">
      <img src  ="../images/wires.jpeg">
      <div class = "cardBody">
          <h3>wires</h3>
          <p>this is the text</p>
      </div>
  </div>
</div>