body {
    background-color : #393939;
}

.navbar {
     position : fixed;
     z-index: 1000;
     height : 50px; 
     width : 100%;
     top : 0;
     left : 0;
     background-color : #964000;
       
}

nav {

    position : relative ;
}

.logo {
     position : absolute;
     width : 100px;
     height : 130px;
     left : 10px
}


.navcontenta {
   
    position : absolute ;
    width : 100px;
    height : 100%;
   color : #f6f5f3;
   font-weight : 700;
  top : 20px;
   
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}


#con1 {
  right : 100px;

}

#con2 {
   right : 250px;
}

#con3 {
   right : 350px;
}

#con4 {
     right : 450px;
}

.companyintro {

    position : absolute;
    top : 110px;
     left : 800px;
    width : 350px;
    height :  400px;
    background-color : #964000; 
    opacity : 0.7 ;
    border-radius : 50%;
}
  .wrapper {
      position: relative;
  }
.companyintro h2 {
     position : absolute ;
    width : 150px;
     top : 70px;
     left : 110px;
     color : #f6f5f3 ;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.divisionline {

    position : absolute ;
    top : 90px;
    width : 5px;
    height :400px;
    border-radius : 20%;
    background-color : #f6f5f3;
    left : 650px;
    margin-right: 0;
    
}

.companyname {
   position : absolute ;
    width : 350px;
    height:  370px;
    background-color : #964000;
    opacity: 0.7;
     color : #f6f5f3;
     left : 150px;
     top : 110px;
}

.companyname h1 {
    
     position : relative ;

     top: 30px;
     left : 20px;
    font-weight : 800px;
     width : 300px;
     color : #f6f5f3;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.companyname p {
   
     font-weight: 800px;
     position : relative ;
     top : 40px;
     left : 20px;
     color : #f6f5f3;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}